* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: rgb(255, 251, 218);
}
.main {
  margin-top: 4rem;
}
.info {
  width: 60vw;
  display: flex;
  margin: 0 auto;
  /* background: #e9dbdb; */
  background: rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  padding: 1.4rem 0;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgb(253, 255, 132);
}
.info-lft {
  align-self: center;
  padding-left: 3rem;
}
.info-lft h4 {
  font-size: large;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.info-lft h3 {
  font-size: xx-large;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.info-lft a,
.txt a {
  text-decoration: none;
  color: rgb(86, 86, 220);
}
.info-rht {
  width: 70%;
  display: flex;
  padding-right: 4rem;
  align-self: center;
}
.product {
  text-align: center;
  width: 8rem;
}
.product h3 {
  padding-bottom: 10px;
  font-weight: 400;
}
.product img {
  width: 80%;
}
.txt {
  margin: auto 0;
  padding-left: 2rem;
}
.txt h5 {
  margin-bottom: 1rem;
  font-size: larger;
  font-weight: 200;
}
.txt h6 {
  font-size: medium;
  font-weight: 300;
}
.stars {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.4rem 3rem;
}
.stars h3 {
  font-size: x-large;
  font-weight: 400;
  margin-bottom: 1rem;
}
.star {
  font-size: x-large;
  text-shadow: 1px 1px 3px rgb(73, 73, 73);
  cursor: pointer;
}
.feedback {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* background: #e9dbdb; */
  background: rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  padding: 1.4rem 3rem;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgb(253, 255, 132);
}
.yesno,
.upload {
  display: flex;
  margin-bottom: 1rem;
}
.input {
  margin-left: auto;
}
.input input,
.upload input {
  margin-left: 2rem;
}
.comment textarea {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.btn input {
  font-size: large;
  padding: 5px 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #000;
}
