* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, rgb(186, 196, 224), rgb(48, 48, 48));
}

.container {
  width: 50vw;
  background: rgba(84, 84, 84, 0.2);
  margin: 4rem auto;
  padding: 4rem;
  border-radius: 20px;
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 100px #d1d1d1;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #111;
  margin-bottom: 2rem;
}

form h3 {
  font-weight: 1.4rem;
  margin-top: 1.4rem;
  padding-bottom: 1.2rem;
  text-decoration: underline;
}

form {
  font-size: 1.2rem;
}

form input,
select {
  width: 80%;
  margin-top: 4px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

select {
  width: 20%;
}

.sub-btn {
  width: 30%;
  margin: 0 auto;
  margin-top: 2rem;
}

.sub-btn input {
  border: 2px solid #111;
}
