@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap);
* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 2rem 0;
  background: linear-gradient(45deg, rgb(112, 112, 112), rgb(34, 31, 37));
}
.form {
  width: 80%;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form form .main-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left,
.right {
  width: 40%;
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
  outline: none;
  margin: 5px;
  border: 2px solid #fff;
  background-color: #ffffff00;
  transition: 0.1s;
  color: #fff;
  border-radius: 4px;
  margin-top: 10px;
}
textarea {
  outline: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 5px;
  border: 2px solid #fff;
  background-color: #ffffff00;
  transition: 0.5s;
  border-radius: 4px;
  margin-top: 10px;
}

textarea:focus,
input:focus {
  outline: none;
  border: none;
  box-shadow: 2px 2px 5px #fff;
}
.right span,
.left span {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}
.form h2 {
  align-self: center;
  font-size: 42px;
}
input[type="radio"] {
  transform: scale(1.5);
}
input[type="checkbox"] {
  transform: scale(1.5);
}
select {
  color: #fff;
  outline: none;
  border: none;
  border: 2px solid #fff;
  padding: 4px;
  background: #00000000;
  border-radius: 4px;
}
select option {
  color: #fff;
  border-radius: 4px;
}
select option:hover {
  color: #fff;
}
.btns {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.btns button {
  color: #000;
  outline: none;
  border: 2px solid #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

label,
.gender span {
  margin-top: 10px;
  margin-bottom: 10px;
}

.temp {
  font-size: 1.4em;
  color: #ddd;
}

select option {
  color: #222;
}
